<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <top-nav></top-nav>
      <off-canvas></off-canvas>
    </header>
 
    <main>
      <div class="main-content">
        <div class="container p-4">
          <h4>About Dev (Me)</h4>
          <p>
            This app is built based on what I learn on Dicoding Course: Learn Front-End Development Tools for Intermediate (Belajar Tools Front-End Web Intermediate). Things I learned in this course are the usage of Lit Components, Utilizing and Customizing Bootstrap, and Sass usage
          </p>
          <p>
            Contact me via my email on: <a href="mailto:irwanphan@gmail.com" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">irwanphan@gmail.com</a>
          </p>
          <p>
            This github repo is on <a href="https://github.com/irwanphan/dicoding-story-app" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">https://github.com/irwanphan/dicoding-story-app</a>
          </p>
          <p>
            My personal portfolio page is on <a href="https://irwanphan.github.io" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">https://irwanphan.github.io</a>
          </p>
          <like-button></like-button>
        </div>
      </div>
    </main>
 
    <footer>

    </footer>
  </body>
</html>