<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <top-nav></top-nav>
    </header>
 
    <main>
      <div class="main-content">
        <div class="container py-5">
          <h1 class="mb-3">Add Story</h1>

          <form class="row g-3" id="addStoryForm" novalidate>
            <div class="col-12 col-md-6">
              <label for="storyImage" class="form-label">Image Upload</label>
              <div style="width: 100%; height: 15rem" class="mb-3">
                <image-preview></image-preview>
              </div>
              <input
                type="file"
                class="form-control"
                id="storyImage"
                accept="image/*"
                required
              />
              <div class="invalid-feedback">Field required</div>
            </div>

            <div class="col-12 col-md-6">
              <label for="storyNotes" class="form-label">Description</label>
              <textarea class="form-control" id="storyNotes" rows="3"></textarea>
              <div class="invalid-feedback">Field required</div>
            </div>
            
            <div class="col-12 text-end">
              <button class="btn btn-blue bordered" type="button" data-bs-toggle="modal" data-bs-target="#confirmationModal">Submit</button>
            </div>

            <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
              <div class="modal-dialog bordered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmationModalLabel">Submit & Go Home</h1>
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure about posting this to your story?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light bordered" data-bs-dismiss="modal">Wait</button>
                    <button type="submit" class="btn btn-blue bordered">Sure</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </main>
 
    <footer>

    </footer>
  </body>
</html>